*{
  box-sizing: border-box;

}

/* Fonts Used */
@font-face{
  font-family: "OldNewspaper";
  src: url("../newspaper/fonts/OldNewspaperTypes.ttf");
}

@font-face{
  font-family: "Erika";
  src: url("../newspaper/fonts/Erika\ Ormig.ttf");
}

@font-face{
  font-family: "F25";
  src: url("../newspaper/fonts/Telegraphem.otf");
}

@font-face{
  font-family: "sample1";
  src: url("../newspaper/fonts/Serialpublicationdemo-qxo1.ttf");
}

@font-face{
  font-family: "sample2";
  src: url("../newspaper/fonts/GIN_AND_SODA_PERSONAL_USE.ttf");
}

@font-face{
  font-family: "sample3";
  src: url("../newspaper/fonts/ReglisseFill-WyWzn.otf");
}

@font-face{
  font-family: "sample4";
  src: url("../newspaper/fonts/Franky-3zZMp.otf");
}

@font-face{
  font-family:"linowrite";
  src:url("../newspaper/fonts/linowrite.ttf");
}

@font-face{
  font-family:"Butchery";
  src:url("../newspaper/fonts/Butchery.ttf");
}

/* Store Name Heading */
header{
    font-family: OldNewspaper;
    font-weight: 900;
    font-size: 80px;
    text-align:center;
    position:relative;
    margin-bottom: 20px;
    
}

/* Customizing Navigation Bar */
.navbar{
    width: 100%;
    overflow: auto;
    border-top:2px solid black;
    border-bottom: 2px solid black;
}

.navbar a {
    float: left;
    padding: 12px;
    color:black;
    text-decoration: none;
    font-size: 25px;
    font-family: F25;
    width: 25%; 
    text-align: center;
}

.navbar a:hover{
  text-decoration: underline;
  font-weight: bold;
}

/* Customizing main home page */

.wrapper{
  display: grid;
  grid-template-columns: 25% 75%;
  width:100%; 
  box-sizing: border-box;
  
}

/* Customizing the Hours Section */
.hours-container{
  border: 2px solid black;
  align-content:center;
  display:flex;
}

.hours-container li{
  font-size: 1.1vw;
  font-family: Erika;
  list-style: none;
  text-align: center;
  display:inline-block;
}

.hours-container h2{
  text-align:center;
  font-family: OldNewspaper;
  font-size: 30px;
  font-weight: bold;
}

.hours-container h2:after{
    border-bottom: 1px solid black;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
}

.hours-container img{
  width:100%;
  max-width: 400px;
  display:block;
  margin:auto;
  text-align:center;
}

.hours-border{
  border: dashed;
  margin: 20px;
}

/* Customizing the Image Slider */
.carousel-container, .slide{
  width:auto;
  margin:0;
  overflow:hidden;
  padding:0;
}

.carousel-container{
  position:relative;
  border: 2px solid black;
}

.slide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-text{
  text-align:center;
  padding-bottom:30px;
  font-size: 100px;
  font-family:sample2;
  font-weight:bold;
  letter-spacing: 20px;
}

.slide-sub{
  font-family: Erika;
  font-size: 80px;
  text-align: center;

}

.slide img{
  width: 50%;
  max-width: 500px;
  height: 300px;
  text-align: center;
  padding-bottom:30px;

}

/* Customizing image slider arrows */

#leftArrow{
  top:50%;
  cursor:pointer;
  position: absolute;
  padding: 40px;
  left: 0;
  font-size: 30px;
}

#rightArrow{
  top:50%;
  cursor:pointer;
  position: absolute;
  padding: 40px;
  right:0;
  font-size:30px;
}

/* Customizing About section on homepage */
.banner-meat{
  border:2px solid black;
}

.banner{

  display:grid;
  width:100%;
  grid-template-columns: 50% 50%;
  text-align:center;
}
.banner-title{
  text-align:center;
  font-family:sample1;
  font-size: 100px;
  letter-spacing: 30px;
  
  
}
.banner-hero h3{
  font-family: sample4;
  font-size: 30px;
  letter-spacing: 20px;
  transform: rotate(-10deg);
}

.banner-text p{
  font-family: Erika;
}

/* Customizing the Recipe Tab */
.recipe-container{
  align-content: center;
  text-align:center;
  border:solid black;

} 

.recipe-title {
  text-align: center;
  font-family: sample2;
  font-size: 80px;
  letter-spacing:10px;
  
}

#recipe-form{
  text-align: center;
}
#recipe-text{
  width: 500px;
  height: 30px;
  font-family:linowrite;
  font-size: 20px;
  font-weight:bold;
  outline:none;
  margin-bottom: 80px;
}
.recipe-blurb{
  text-align:center;
  font-family:linowrite;
  font-weight:bold;
}
#recipe-btn{
  font-size: 20px;
}

/* Customizing Recipe Advertisement */
.recipe-ad{
  display: grid;
  width:100%;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: F25;
  
}


.ad1{
  height: 350px;
  border: solid black;
  text-align:center;
}

.ad1 h3{
  font-size: 1.8vw;
}
.ad1 img{
  height: 150px;
  width:auto;
}

.ad2{
  border:solid black;
  height: 350px;
  text-align:center;
}

.ad2 img{
  height: 160px;
  width:auto;
 
}
.ad2 h3{
  font-size: 1.8vw;
}

.ad2 h2{
  font-size: 1.4vw;
}

.ad3{
  border:solid black;
  height: 350px;
  text-align:center;
}

.ad3 img{
  height: 160px;
  width:auto;
 
}
.ad3 h3{
  font-size: 1.8vw;
}
.ad3 h2{
  font-size: 1.4vw;
}


/* Customizing Recipe Output */

#recipe-data{
  display:grid;
  grid-template:  auto / repeat(auto-fit, minmax(400px, 1fr));
  text-align:center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;

}

.data-container{
  border: dashed;
  margin: 20px;
  height: 520px;
  
}

.data-container img{
  padding-top: 10px;
  padding-bottom: 20px;
}

.data-container h3{
  font-family:F25;
  word-wrap:break-word;
  overflow: hidden;
}

#recipe-button{
  cursor:pointer;
  background-color:white;
  color:black;
  border-style: solid black double ;
  height: 30px;
  width: 150px;
  font-family: F25;

}
#recipe-button:hover{
  font-weight: bolder;
  border-style: solid black ;

}

.calories{
  font-family:linowrite;
  font-weight:bold;
  
}
.serving {
  font-family:linowrite;
  font-weight:bold;
  
 
}

/* Customizing Contact Page */

.contact-form{
  display:grid;
  grid-template-columns: 75% 25%;
  height: 730px;
  position:relative;
  
}

.form-wrapper{
  border: solid black;
  font-family: F25;
  padding-left:20px;
  text-align:center;

}
#name{
  border:none;
  outline:none;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}
#email{
  border:none;
  outline:none;
  border-bottom: 1px solid black;
  margin-bottom:40px;
}

textarea{
  height: 200px;
  width:250px;
  border: 1px solid black;
}
#msg{
  margin-bottom: 40px;
}

#contact-btn{
  cursor:pointer;
  background-color:white;
  color:black;
  border-style: solid black double ;
  height: 30px;
  width: 80px;
  font-family: F25;
  font-weight:bold;
}


/* Customizing Map in Contact Page */
.map{
  height: 500px;
  width: 600px;
  margin: 0px auto;
  border:solid black;
}


.map-container{
  width:100%;
  border: solid black;
  font-family: F25;
  align-content: center;
  text-align:center;
  
}

.contact-wrap{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
 
}


.contact1{
  margin-bottom:100px;
  margin-top: 40px;
}
.contact2{
  margin-bottom:100px;
}
.contact3{
  margin-bottom:100px;
}


/* Customizing Menu Page */

/* Customizing the Menu Display */
.menu{
  display:grid;
  grid-template-columns: 75% 25%;
  width:100%;
}

.menu-form{
  border:solid black;
}

.menu-title{
  font-family:Erika;
  font-size: 2.5vw;
  text-align:center;
  letter-spacing: 30px;
}

.meat-price{
  position:relative;
  float:right;
  left:-50%;
}
.meat-order{
  font-family:F25;
  margin-bottom: 30px;
}
#beef .meat-order i , #lamb .meat-order i, #pork .meat-order i , #chicken .meat-order i{
  float:left;
  position:relative;
  right: -80%;
    
}

.col1 h2, .col2 h2{
  text-align: center;
}

#beef img, #pork img, #chicken img , #lamb img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 150px;
  margin-bottom:30px;
}


.menu-column{
  display:grid;
  grid-template-columns: 50% 50%;
  width:100%;
}

.col1{
  border-right: solid black;
}

#beef,#pork,#chicken,#lamb{
  margin-bottom: 100px;
}

#beef h2, #chicken h2, #pork h2, #lamb h2{
  font-family:Erika;
  font-size: 2vw;
}


/* Customizing Order Menu Form */

.order{
  border-style: solid black;
  text-align:center;
}

.order h2{
  margin-bottom: 80px;
  font-family: Erika;
  font-size: 2.5vw
}


.order-item-title{
  float:left;
  font-family: F25;
  font-size: 20px;
  margin-left: 20px;
}

.order-item i{
  float:right;
  font-size: 30px;
  margin-right: 10px;
}

.order-price{
  margin-left: 10px;
  font-family: F25;
  font-size: 20px;
}


.cart-total-title{
  font-size: 20px;
  font-family: F25;
}

.cart-total-price{
  font-size: 20px;
  font-family:F25;
}

.order-quantity{
  border-style: black;
}
.order-btn{
  cursor:pointer;
  background-color:white;
  color:black;
  border-style: solid black double ;
  height: 30px;
  width: 100px;
  font-family: F25;
  font-weight:bold;
  margin-top: 40px;
}


/* Making the website responsive! */

@media only screen and (max-width: 1200px) {
  .wrapper{
    display:grid;
    grid-template-columns: 1fr;
  }
  .time{
    display:inline-block;
    text-align: center;
  }
  .time li{
    font-size: 3vw;

  }

  .hours-border{
    margin:50px;
  }
  .banner h1{
    font-size: 55px;
  }

  .contact-form{
    display:grid;
    grid-template-columns: 1fr;
  }
  .form-wrapper{
    text-align:center;
  }
  .map{
    height: 500px;
    width: 700px;
  }
 #recipe-text{
   width:250px;
 }
 .ad1,.ad2,.ad3{
   height: 280px;
 }

}


@media only screen and (max-width: 1750px){
  .time{
    padding-top: 40px;
  }

}

@media only screen and (max-width:1140px){
  .map{
    height: 300px;
    width: 300px;
    margin: 0px auto ;
  }
  .contact1{
    margin-bottom:0px;
    margin-top: 20px;
  }
  .contact2{
    margin-bottom:0px;
  }
  .contact3{
    margin-bottom:0px;
  }
  .meat-price{
    position:relative;
    float:right;
    left:-20%;
   
  }
  #beef img, #pork img, #chicken img , #lamb img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 150px;
  }
}